.card {
  max-width: 80%;
  height: 80%;
  margin: 2rem 1rem 1rem 1rem;
  border-radius: 16px !important;

  h4 {
    margin: 0 5px 5px;
  }
}

.characteristic-container {
  display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  gap: 10%;
}

.characteristic {
  display: flex;
  flex: 1 1 auto;

  span {
    margin: 0;
  }

  h {
    margin: 0;
  }
}

.char {
  margin-right: 1rem;
  display: inline-block;

  svg {
    font-size: 2.4em;
  }
}

.charNumber {
  display: inline-block;
}
