.checkroom-container {
  height: calc(100vh - 100px);
}

.splitScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topPane {
  background: black;
  display: flex;
}

.dog {
  background: red;
  flex-grow: 1;
}

.characteristics {
  flex-grow: 1;
}

.bottomPane {
  flex: 1;

}