.games-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;

  > div {
    width: 45%;
    margin: 2%;
  }
}

.games-container {
  height: calc(100vh + 100px);
}

