.header-tools {
  display: flex;
  justify-content: space-between;

  .balance {
    display: flex;
    align-items: center;
    margin-right: -8px;

    .amount {
      font-size: 24px;
      font-weight: 700;
      line-height: 44px;
    }

    .coin {
      .icon {
        width: 28px;
        height: 28px;
      }
    }
  }
}
