.wardrobe-container {

  .tabs {
    margin-bottom: 1rem;
  }

  .cards {
    display: flex;
    margin: 5px;
    max-width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
