.nft-card {
  position: relative;
  padding: 0;
  border-radius: 15px !important;
  height: auto;
  width: 120px;
  min-width: 120px;
  margin: 0.5rem;

  .nft-card-status {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .nft-card-name {
    text-align: center;
    width: 100%;
  }

  .nft-card-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    > div {
      width: 50%;
    }
  }

  .nft-card-price {
    padding-top: 0;
  }

  img {
    margin-top: -15px
  }
}
